
.sidebar {
    width: fit-content;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: black;
    z-index: 1;

}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    color:white ;
    font-weight: bold;
    font-size: medium;
    font-family: "Times New Roman";

}

/* Active/current link */
.sidebar a.active {
    background-color: #4CAF50;
    color: white;
    z-index: 1;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

.active, .accordion:hover {
    background-color: #4CAF50;
}
.fa-bell{
    color: #0078c6;
    margin-right: 5px;
}


.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}