table#facilityFiltersTable{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 10px !important;
}
th{
    padding: 10px !important;
}
table#facilityTable{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
}